<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Standard
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="list-display">
    <ion-item lines="none">
      <ion-label class="row-display">
        444+545
      </ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-label class="row-display">
        12345555
      </ion-label>
    </ion-item>

  </ion-list>

  <div>
    <div id="container-input">
      {{inputDisplay}}
    </div>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <div class="container-btns">

        <ion-row class="btns-row">
          <ion-col class="grid-col-gap" size="3">
            <ion-button (click)="clearInputs()" Color="dark" expand="full">AC</ion-button>
          </ion-col>
          <ion-col class="grid-col-gap" size="3">
            <ion-button Color="dark" expand="full">+/-</ion-button>
          </ion-col>
          <!-- <ion-col class="grid-col-gap" size="3">
            <ion-button (click)="input = '%'" (click)="addInputs()" Color="dark" expand="full">%</ion-button>
          </ion-col> -->
          <ion-col class="grid-col-gap" size="3">
            <ion-button (click)="input = '/'" (click)="addInputs()" class="btn-fn" Color="dark" expand="full">&#247;</ion-button>
          </ion-col>
          <ion-col class="grid-col-gap" size="3">
            <ion-button (click)="input = '*'" (click)="addInputs()" class="btn-fn" Color="dark" expand="full">&#xd7;</ion-button>
          </ion-col>
        </ion-row>

        <ion-row class="btns-row">
          <ion-col class="grid-col-gap" size="3">
            <ion-button (click)="input = '7'" (click)="addInputs()" Color="medium" expand="full">7</ion-button>
          </ion-col>
          <ion-col class="grid-col-gap" size="3">
            <ion-button (click)="input = '8'" (click)="addInputs()" Color="medium" expand="full">8</ion-button>
          </ion-col>
          <ion-col class="grid-col-gap" size="3">
            <ion-button (click)="input = '9'" (click)="addInputs()" Color="medium" expand="full">9</ion-button>
          </ion-col>
          <ion-col class="grid-col-gap" size="3">
            <ion-button (click)="input = '-'" (click)="addInputs()" class="btn-fn" Color="dark" expand="full">&#x2212;</ion-button>
          </ion-col>
         
        </ion-row>

        <ion-row class="btns-row">
          <ion-col class="grid-col-gap" size="3">
            <ion-button (click)="input = '4'" (click)="addInputs()" Color="medium" expand="full">4</ion-button>
          </ion-col>
          <ion-col class="grid-col-gap" size="3">
            <ion-button (click)="input = '5'" (click)="addInputs()" Color="medium" expand="full">5</ion-button>
          </ion-col>
          <ion-col class="grid-col-gap" size="3">
            <ion-button (click)="input = '6'" (click)="addInputs()" Color="medium" expand="full">6</ion-button>
          </ion-col>
          <ion-col class="grid-col-gap" size="3">
            <ion-button (click)="input = '&#x2b;'" (click)="addInputs()" class="btn-fn" expand="full" Color="dark">&#x2b;</ion-button>
          </ion-col>
          
        </ion-row>

        <ion-row class="btns-row">
          <ion-col class="grid-col-gap" size="3">
            <ion-button (click)="input = '1'" (click)="addInputs()" Color="medium" expand="full">1</ion-button>
          </ion-col>
          <ion-col class="grid-col-gap" size="3">
            <ion-button (click)="input = '2'" (click)="addInputs()" Color="medium" expand="full">2</ion-button>
          </ion-col>
          <ion-col class="grid-col-gap" size="3">
            <ion-button (click)="input = '3'" (click)="addInputs()" Color="medium" expand="full">3</ion-button>
          </ion-col>
          <ion-col class="grid-col-gap" size="3">
            <ion-button style="height:191%; bottom:0; top: 0;" (click)="input = '='" (click)="getResult()" class="btn-fn" Color="gold" expand="full">&#x3d;</ion-button>
          </ion-col>
          <ion-col class="grid-col-gap" size="6">
            <ion-button (click)="input = '0'" (click)="addInputs()" Color="medium" expand="full">0</ion-button>
          </ion-col>
          <ion-col class="grid-col-gap" size="3">
            <ion-button (click)="input = '.'" (click)="addInputs()" Color="medium" expand="full">&#8226;</ion-button>
          </ion-col>


        </ion-row>

        <!-- <ion-row class="btns-row">
          <ion-col class="grid-col-gap" size="6">
            <ion-button (click)="input = '0'" (click)="addInputs()" Color="dark" expand="full">0</ion-button>
          </ion-col>
          <ion-col class="grid-col-gap" size="3">
            <ion-button (click)="input = '.'" (click)="addInputs()" Color="dark" expand="full">&#8226;</ion-button>
          </ion-col>
        
        </ion-row> -->

      </div>

    </ion-grid>

  </ion-toolbar>
</ion-footer>