<!-- <ion-header>
  <ion-toolbar> -->
    <!-- <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> -->
    <!-- <ion-title color='medium'>
      Standard
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<div>
  <ion-list class="list-display">
    <ion-label class="row-display" *ngFor="let equation of equations">
      {{equation.expression}}
    </ion-label>
  </ion-list>
</div>

<ion-content>
  <div class="container-input">
    <div id="equation-review">{{prepareCal}}</div>
    {{inputNum}}
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <div class="container-btns">

        <ion-row class="btns-row">
          <ion-col class="grid-col-gap" size="3">
            <ion-button (click)="clearAll()" Color="dark" expand="full">AC</ion-button>
          </ion-col>
          <ion-col class="grid-col-gap" size="3">
            <ion-button (click)="backSpace()" Color="dark" expand="full">&#x232b;</ion-button>
          </ion-col>
          <!-- <ion-col class="grid-col-gap" size="3">
            <ion-button (click)="input = '%'" (click)="addInputs()" Color="dark" expand="full">%</ion-button>
          </ion-col> -->
          <ion-col class="grid-col-gap" size="3">
            <ion-button (click)="input = '/'" (click)="displayNums()" class="btn-fn" Color="dark" expand="full">&#247;
            </ion-button>
          </ion-col>
          <ion-col class="grid-col-gap" size="3">
            <ion-button (click)="input = '*'" (click)="displayNums()" class="btn-fn" Color="dark" expand="full">&#xd7;
            </ion-button>
          </ion-col>
        </ion-row>

        <ion-row class="btns-row">
          <ion-col class="grid-col-gap" size="3">
            <ion-button (click)="input = '7'" (click)="displayNums()" Color="medium" expand="full">7</ion-button>
          </ion-col>
          <ion-col class="grid-col-gap" size="3">
            <ion-button (click)="input = '8'" (click)="displayNums()" Color="medium" expand="full">8</ion-button>
          </ion-col>
          <ion-col class="grid-col-gap" size="3">
            <ion-button (click)="input = '9'" (click)="displayNums()" Color="medium" expand="full">9</ion-button>
          </ion-col>
          <ion-col class="grid-col-gap" size="3">
            <ion-button (click)="input = '-'" (click)="displayNums()" class="btn-fn" Color="dark" expand="full">&#x2212;
            </ion-button>
          </ion-col>

        </ion-row>

        <ion-row class="btns-row">
          <ion-col class="grid-col-gap" size="3">
            <ion-button (click)="input = '4'" (click)="displayNums()" Color="medium" expand="full">4</ion-button>
          </ion-col>
          <ion-col class="grid-col-gap" size="3">
            <ion-button (click)="input = '5'" (click)="displayNums()" Color="medium" expand="full">5</ion-button>
          </ion-col>
          <ion-col class="grid-col-gap" size="3">
            <ion-button (click)="input = '6'" (click)="displayNums()" Color="medium" expand="full">6</ion-button>
          </ion-col>
          <ion-col class="grid-col-gap" size="3">
            <ion-button (click)="input = '&#x2b;'" (click)="displayNums()" class="btn-fn" expand="full" Color="dark">
              &#x2b;</ion-button>
          </ion-col>

        </ion-row>

        <ion-row class="btns-row">
          <ion-col class="grid-col-gap" size="3">
            <ion-button (click)="input = '1'" (click)="displayNums()" Color="medium" expand="full">1</ion-button>
          </ion-col>
          <ion-col class="grid-col-gap" size="3">
            <ion-button (click)="input = '2'" (click)="displayNums()" Color="medium" expand="full">2</ion-button>
          </ion-col>
          <ion-col class="grid-col-gap" size="3">
            <ion-button (click)="input = '3'" (click)="displayNums()" Color="medium" expand="full">3</ion-button>
          </ion-col>
          <ion-col class="grid-col-gap" size="3">
            <ion-button style="height:191%; bottom:0; top: 0;" (click)="input = '='" (click)="getResult()"
              class="btn-fn" Color="gold" expand="full">&#x3d;</ion-button>
          </ion-col>
          <ion-col class="grid-col-gap" size="6">
            <ion-button (click)="input = '0'" (click)="displayNums()" Color="medium" expand="full">0</ion-button>
          </ion-col>
          <ion-col class="grid-col-gap" size="3">
            <ion-button (click)="input = '.'" (click)="displayNums()" Color="medium" expand="full">&#8226;</ion-button>
          </ion-col>


        </ion-row>

        <!-- <ion-row class="btns-row">
          <ion-col class="grid-col-gap" size="6">
            <ion-button (click)="input = '0'" (click)="addInputs()" Color="dark" expand="full">0</ion-button>
          </ion-col>
          <ion-col class="grid-col-gap" size="3">
            <ion-button (click)="input = '.'" (click)="addInputs()" Color="dark" expand="full">&#8226;</ion-button>
          </ion-col>
        </ion-row> -->

      </div>

    </ion-grid>

  </ion-toolbar>
</ion-footer>